.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

