.office{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    top: 100px;
    position: relative;
}

.office > form{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
     max-width: 300px;
}

 .loginButton{
  
    border-radius: 15px;
    color: #01b400;
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 900;
    margin-bottom: 10px;
    box-shadow: 3px 6px 7px -3px rgba(0,0,0,0.95);
}